*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(fundo.png);
    padding: 45px 240px 110px 240px;

}

#links ul{
    color: #b17611;
    float: right;
    font-size: 17px;
} 

#links li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    padding: 12px; 
} 


.area_anuncio{
    padding: 0 240px 0 240px;
    position: relative;
}

#imagens-museu{
    top: -75px;
    position: absolute;
    display: inline;
    word-spacing: 20px;
}
 
#imagens-museu img{
    height: 500px;
}

.geo-museu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 450px 270px;
    color: rgb(26, 107, 39);
}

#geo-video{
    float: left;
    padding-right: 50px;
}

#geo-video p{
    padding-bottom: 15px;
}

#geo-mapa{
    clear: right;
}

#geo-mapa p{
    padding-bottom: 15px;
}
